
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>fotoğraf yüklemek için gerekli link </h3>
<br />
<p><a href="https://hizliresim.com/" class="btn btn-warning" target="_blank">Hızlı resim linki </a></p>

<ol class="list-group">
    <li class=" ">Fotoğrafı sürükleyerek sayfaya bırak</li>
    <li>"Yükle" butonuna basınız</li>
    
</ol>
<img src="~/web/images/örnek1.jpg" class="img-fluid" alt="Responsive image">
<p class="lead">3.resimde gösterilen yere basalım</p>
<img src="~/web/images/örnek2.jpg" class="img-fluid" alt="Responsive image">
<p>son olarak en aşağıdaki işaretli linki kopyalıyoruz ve resim linki olarak veriyoruz </p>



