<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Bilal Çabuk inşaat</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Realness Responsive web template,Bilal Çabuk inşaat,Dekorasyon, Tadilat, İnşaat-izmir, İzmir inşaat firması, tasarım-dekorasyon, LG, Tower, Bina,kişisel dekorasyon,mimar,iç mimar" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="~/web/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="~/web/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="~/web/fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700" rel="stylesheet">
    <link href="~/web/fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">
    <link href="~/web/fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
    <!-- //Fonts -->
</head>

<body>
    <!-- mian-content -->
    <div class="main-w3layouts-header-sec">
        <!-- header -->
        <header class="header-w3ls">
            <div class="container-fluid inner-sec-w3ls">
                <div class="header d-lg-flex justify-content-between align-items-center">
                    <!-- logo -->
                    <h1 class="logo text-center">
                        <a href="/home/index">
                            <img src="~/web/images/Header.jpeg" class="img-fluid" alt="Responsive image" width="95">
                           
                        </a>
                    </h1>
                    <!-- //logo -->
                    <!-- nav -->
                    <div class="nav_w3ls">
                        <nav>
                            <label for="drop" class="toggle toogle-2">Menü</label>
                            <input type="checkbox" id="drop" />
                            <ul class="menu">
                                <li class="active ml-0"><a href="/home/index">Anasayfa</a></li>
                                <li><a href="/home/about">Hakkımızda</a></li>


                                <li>
                                    <!-- First Tier Drop Down -->
                                    <label for="drop-2" class="toggle toggle-drop">
                                        Sayfalar <span class="fa fa-angle-down" aria-hidden="true"></span>
                                    </label>
                                    <a href="/home/Referance">Referanslar <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                    <input type="checkbox" id="drop-2" />
                                    <ul class="list-unstyled">
                                        <li><a href="#services" class="drop-text">Hizmetlerimiz</a></li>
                                        <li class="my-2"><a href="/home/Referance" class="drop-text">Referanslar</a></li>
                                        
                                    </ul>
                                </li>

                                <li><a href="/gallery/index">Galeri</a></li>
                                <li><a href="/home/contact">İletişim</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- //nav -->
                </div>
            </div>
        </header>
    </div>
    <!-- //header -->
    <div class="main-content inner" id="home">
       
    </div>
    @RenderBody()
    <!--// mian-content -->
    <!-- /grids-content -->
    
    <!-- //grids-content -->
    <!-- /grids-content1 -->
    <section class="services py-5" id="services">
        <div class="container-fluid py-lg-5 inner-sec-w3ls">
            <div class="header-w3layouts text-left mb-5">
                <h3 class="title-w3pvt mb-3"> Hizmetlerimiz</h3>
                <p class="sub-para two text-left">Siz değerli müşterilerimiz için her geçen gün farklı alanlarda kendimzi geliştirmekteyiz.Aktif çalışma alanlarımız </p>
            </div>
            <div class="row part-grids text-center">

                <div class="col-lg-4 partgrid2">
                    <a href="/Home/Referance">
                        <div class="ser-1">
                            <img src="~/web/images/s1.jpg" alt="part image" class="img-fluid">
                            <h4 class="mt-4 text-lg-left">İnşaat</h4>
                            <p class="mt-3 text-lg-left">Güncel Türkiye ve dünya mimmarisine uygun inşaat projelerimiz referanslar için tıklayınız.</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 partgrid1">
                    <a href="/Home/Referance">
                        <div class="ser-2">
                            <img src="~/web/images/Tadilat.jpg" alt="part image" class="img-fluid">
                            <h4 class="mt-4 text-lg-left">Tadilat</h4>
                            <p class="mt-3 text-lg-left">Bireysel yada toplu konut Projeleri ile binanıza,dairenize tadilat yapılmaktadır. Daha fazlası için tıklayınız. </p>
                        </div>
                    </a>

                </div>
                <div class="col-lg-4 partgrid3 mt-lg-0 mt-4">
                    <div class="ser-3">
                        <a href="/Gallery/Index/11">
                           
                            <img src="~/web/images/Decoratin.jpg" alt="part image" class="img-fluid" width="200">
                            <h4 class="mt-4 text-lg-left">Dekorasyon</h4>
                            <p class="mt-3 text-lg-left"> Mimar desteği ile kişinin istekleri hususunda Modern dekorasyon işlemleri yapıyoruz. Daha fazlası için tıklayınız.</p>
                        </a>
                        </div>
                </div>
            </div>
        </div>
    </section>
   
    <!-- footer -->
    @Html.Action("Footer","Home")
    <!-- //footer -->
    <div class="copy-right py-2">
        <div class="container-fluid inner-sec-w3ls">
            <div class="row">
                <div class="col-lg-6 copy-w3pvt">
                    <p class="copy-right-grids text-li text-left my-sm-4 my-4">
                        © 2021 Bilal Çabuk İNŞAAT .|    Design by
                        <a href="http://w3layouts.com/"> W3layouts </a>
                    </p>
                </div>
                <div class="col-lg-5 w3layouts-footer text-right">
                    <ul class="social_section_1info">
                        <li class="mb-2 facebook"><a href="#"><span class="fa fa-facebook"></span> facebook</a></li>
                        <li class="mb-2 twitter"><a href="#"><span class="fa fa-twitter"></span> twitter</a></li>
                        <li class="google"><a href="#"><span class="fa fa-google-plus"></span> google</a></li>
                        <li class="linkedin"><a href="/login/Index">Admin</a></li>
                    </ul>
                </div>
                <div class="move-top col-1"><a href="#home" class="move-top"> <span class="fa fa-angle-up" aria-hidden="true"></span></a></div>
            </div>
            <!-- //footer bottom -->
        </div>
    </div>

</body>

</html>
