
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="services py-5">
    <div class="container-fluid py-lg-5 inner-sec-w3ls">
        <div class="row">
            <div class="col-lg-5 serv-right offset-lg-1">
                <h3 class="title-w3pvt mb-4">Hakkımızda</h3>
                
                <p class="my-3">Bilal Çabuk İnşaat İzmir merkezli bir tadilat firmasıdır. 30 yılı aşkın deneyimimizle, müşterilerimizin ihtiyaçlarına göre donanımlı ekibimizle hizmetler sunmaktayız.</p>
                <p class="mb-5">Hakkımızda daha fazla bilgi için referanslarımızı inceleyebilir ve arayarak ücretsiz bir şekilde bilgi alabilirsiniz.</p>
                <div class="line mt-3">
                    <div class="row mid-sec-inf">
                        <div class="col-md-3 text-lg-center">
                            <span class="fa fa-handshake-o"></span>
                        </div>
                        <div class="col-md-9 text-left">
                            <h6>Kalite, Hız, Deneyim ve Güvence</h6>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 grid1-margin">
                <div class="row">
                    <div class="col-md-11 ab-inn serv-grids">
                        <img src="~/web/images/About.jpg" alt="image" class="img-fluid">
                        
                    </div>
                   
                </div>
            </div>

        </div>
    </div>
</section>

